footer {
  background-color: #031E54;
  color: #fff;
  padding: 10px 20px 10px 20px; /* Reduje el padding */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0; /* Añadido */
}
  
  .footer-section {
    flex: 1;
    max-width: 25%;
    text-align: left;
    margin: 10px;
  }
  
  .footer-section img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .footer-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 10px;
  }
  
  .footer-link {
    font-size: 15px;
    margin: 5px 0;
    color: #dadada;
    text-decoration: none;
    display: block;
    transition: transform 0.3s;
    text-align: left;
  }
  
  .footer-link:hover {
    transform: scale(1.05);
  }

  .codebyedhisson {
    background-color: #031E54;
    text-align: center;
    padding: 5px 0; /* Menos padding */
    margin: 0;
}

  .codebyedhisson img {
      width: 120px;
      height: auto;
  }


  .copyright-text {
    text-align: center;
    font-size: 12px;
    background-color: #031E54;
    color: #fff;
    margin: 0; /* Elimina margen por defecto del <p> */
    padding: 5px 0; /* Agrega algo de padding si quieres espacio visual controlado */
}

  @media (max-width: 767px) {
    footer {
      flex-direction: column;
    }
  
    .footer-section {
      max-width: 100%;
      text-align: center;
    }
    .footer-link {
        text-align: center;
      }
  }
  
  