footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    max-width: 25%;
    text-align: left;
    margin: 10px;
  }
  
  .footer-section img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .footer-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 10px;
  }
  
  .footer-link {
    font-size: 15px;
    margin: 5px 0;
    color: #dadada;
    text-decoration: none;
    display: block;
    transition: transform 0.3s;
    text-align: left;
  }
  
  .footer-link:hover {
    transform: scale(1.05);
  }

  .copyright-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px; /* Puedes ajustar el tamaño de fuente según tus preferencias */
    background-color: #333;
    color: #fff;
  }

  @media (max-width: 767px) {
    footer {
      flex-direction: column;
    }
  
    .footer-section {
      max-width: 100%;
      text-align: center;
    }
    .footer-link {
        text-align: center;
      }
  }
  
  