.social-icons {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 2 !important;
  }
  
  .social-icons a {
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s; /* Agregamos una transición suave */
  }
  
  .social-icons a:hover {
    transform: scale(1.2); /* Escalamos el ícono al 120% del tamaño original en hover */
  }
  
  .social-icons img {
    width: 50px; /* Ajusta el ancho según tus preferencias */
    height: auto;
  }