{% extends "paginaInicio.html" %}

{% block title %}PC Computers - Contáctanos{% endblock %}

{% block content %}
{% load static %}

<h2 class="title-contact"> Contáctanos 
    <div class="social-links">
        <a href="https://www.facebook.com/PcComputersNet" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/pccomputers.ec/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@pccomputers.ec" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    </div>
</h2>
<div class="contact-container">
    <div class="info-column">
        <div class="info-block">
            <!-- Información de la Matriz -->
            <h2 class="block-title">Información <i class="fa-solid fa-location-dot"></i></h2>
            <p class="block-details"><i class="fa-regular fa-clock"></i> Lunes - Sábado: 8am - 18pm.</p>
            <p class="block-details"><i class="fa-regular fa-envelope"></i> pccomputers@hotmail.es</p>
            <p class="block-details"><i class="fa-solid fa-phone"></i> 0997434229</p>
        </div>
        <div class="info-block">
            <!-- Información para Mantenimiento -->
            <h2 class="block-title">Mantenimiento <i class="fa-solid fa-screwdriver-wrench"></i></h2>
            <p class="block-details"><i class="fa-solid fa-phone"></i> 0997434229</p>
            <p class="block-details"><i class="fa-regular fa-envelope"></i> pccomputers@hotmail.es</p>
        </div>
        <div class="info-block">
            <!-- Información para Desarrollo -->
            <h2 class="block-title">Desarrollo de Aplicaciones web<i class="fa-solid fa-code"></i></h2>
            <p class="block-details"></i> <i class="fa-brands fa-whatsapp"></i> 0962553853</p>
            <p class="block-details"><i class="fa-regular fa-envelope"></i> edhisson97sanmartin@gmail.com</p>
        </div>
        <div class="info-block">
            <!-- Información para el Análisis de Datos -->
            <h2 class="block-title">Análisis de Datos <i class="fa-solid fa-magnifying-glass-chart"></i></h2>
            <p class="block-details"> <i class="fa-brands fa-whatsapp"></i> 0996597480</p>
            <p class="block-details"><i class="fa-regular fa-envelope"></i> @gmail.com</p>
        </div>
        <div class="info-block">
            <!-- Información para el Análisis de Datos -->
            <h2 class="block-title">Asesoría <i class="fa-solid fa-chalkboard-user"></i></h2>
            <p class="block-details"> <i class="fa-brands fa-whatsapp"></i> 0996597480</p>
            <p class="block-details"><i class="fa-regular fa-envelope"></i> @gmail.com</p>
        </div>
    </div>
    <div class="map-column">
        <!-- Google Maps se integrará aquí -->
        <h3 class="block-title"> Machala, Páez entre Boyacá y Guabo</h3>
        
        <iframe id="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d418.70012930694156!2d-79.9558369323051!3d-3.2580945054237214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x90330fcecfb3f315%3A0x54de3aa02f722c17!2sPccomputers!5e0!3m2!1ses-419!2sec!4v1706547309431!5m2!1ses-419!2sec" ></iframe>
    </div>
</div>


{% endblock %} 