{% extends "paginaInicio.html" %}

{% block content %}
{% load static %}
<style>
    .container-noencontrada {
        max-width: 600px;
    }
    container-noencontrada h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    container-noencontrada p {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .icon {
        font-size: 60px;
        color:rgb(168, 168, 168);
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .container-noencontrada a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 18px;
    }
    container-noencontrada a:hover {
        background-color: #0056b3;
    }
</style>
</head>
<body>

<div class="container-noencontrada">
    <h1>Lo sentimos, página no encontrada</h1>
    <p>Estamos trabajando en ello. Nuestro equipo de PCComputers lo solucionará pronto.</p>
    <i class="fa-solid fa-gear"></i>
    <br>
    <a href="/">Volver al inicio</a>
</div>

</body>
    
{% endblock %} 