{% extends "paginaInicio.html" %}
{% load static %}
{% block title %}PC Computers - Página no encontrada{% endblock %}

{% block content %}

<style>
    /* Se eliminó el centrado del body para que no afecte la navbar y el footer */
    .container-noencontrada-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Solo este div tomará el alto completo */
        text-align: center;
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        padding: 20px;
    }
    .container-noencontrada {
        max-width: 600px;
    }
    .h1-noencontrada {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .p-noencontrada {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .icon {
        font-size: 60px;
        color: rgb(168, 168, 168);
        animation: spin 9s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .a-noencontrada {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 18px;
    }
    .a-noencontrada:hover {
        background-color: #0056b3;
    }
</style>

<div class="container-noencontrada-wrapper">
    <div class="container-noencontrada">
        <h1 class="h1-noencontrada">Lo sentimos, página no encontrada</h1>
        <p class="p-noencontrada">Estamos trabajando en ello. Nuestro equipo de Desarrollo de PC Computers pronto lo solucionará.</p>
        <i class="fa-solid fa-gear icon"></i>
        <br>
        <a class="a-noencontrada" href="/"><i class="fa-solid fa-house"></i> Página principal</a>
    </div>
</div>
    
{% endblock %} 