{% extends "paginaInicio.html" %}

{% block content %}
{% load static %}
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for carru in carrusel %}
                {% if carru.imagen %}
                    <div class="swiper-slide">
                        <img class="img-carrusel" src="{{ carru.imagen.url }}" alt="Carrusel">
                    </div>
                {% endif %}
            {% endfor %}
            <!--<div class="swiper-slide"><img class="img-carrusel" src="{% static 'img/carrusel/oferta1.png' %}" ></div>
            <div class="swiper-slide"><img class="img-carrusel" src="{% static 'img/carrusel/oferta2.png' %}" ></div>-->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
    </div>

    <div class="oferts">
        <img class="img-ofertas" src="{% static 'img/fondo1.png' %}" alt="Ofertas">
        <div class="overlay overlay-split">
            
            <div class="content-left">
            <h1>🔥 PRODUCTOS EN OFERTA</h1>
            <p>Conozca todos los productos en descuento de nuestra tienda.</p>
            </div>

            <div class="content-right">
            <a href="ofertas/" class="btn btn-cta">
                VER OFERTAS <i class="fa-solid fa-chevron-right"></i>
            </a>
            </div>

        </div>
    </div>


    <!--<div class="oferts">

        <div class="slide active">
            <img class="img-ofertas" src="{% static 'img/fondo1.png' %}" alt="Ofertas">
            <div class="overlay">
                <h1>PRODUCTOS EN OFERTA</h1>
                <div class="button-container">
                    <p>Conoce todos los productos en descuento de nuestra tienda</p>
                    <a href="ofertas/" class="btn">
                        OFERTAS <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="slide">
            <img class="img-ofertas" src="{% static 'img/motivacion.png' %}" alt="Motivación">
            <div class="overlay">
                <h1>MENSAJE DEL DÍA</h1>
                <div class="button-container">
                    <p>
                        “Persiste hasta que cada adversidad se convierta en una fortaleza,
                        confía en ti.”
                    </p>
                    <a href="/motivacion/" class="btn">
                        VER MÁS <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>-->


    <div class="categoria-section">
        <div class="categoria-title">
            <h2>Categorías</h2>
        </div>
        <div class="categoria-grid">
            {% for c in categoria %}
                <div class="categoria-item">
                    <a href="productos/{{ c.id }}">
                        {% if c.imagen %}
                        <img src={{ c.imagen.url }} alt="Categoría 5">
                        {% endif %}
                        <h3>{{ c.nombre }}</h3>
                    </a>
                </div>
            {% endfor %}    
        </div>
    </div>


    
{% endblock %} 