{% extends "operacion.html" %}

{% block title %}PC Computers - Operacion{% endblock %}

{% block content %}
{% load static %}

<div class="container-caja-inicio">
    <h3 class="title"><i class="fa-solid fa-cash-register"></i> Inicio/Cierre de Caja </h3>
    <div class="caja-datos-container">
        <div class="caja-datos">
            <div class="titulo-caja">{% if caja.estado == 'abierta'%}Cierre {%else%}Inicio {%endif%}de {{numero_caja}}</div>

            <div class="alert alert-warning" role="alert">
                <i class="fa-solid fa-triangle-exclamation"></i> Es necesario tener la caja inicializada para que el Módulo de "Ventas" funcione.
            </div>

            {% if caja.estado == 'abierta'%}
                <div class="alert alert-success">
                    Caja aperturada
                </div>
            {%else%}
                <div class="alert alert-danger" role="alert">
                    <i class="fa-solid fa-ban"></i> Por favor, inicializa la caja.
                </div>
            {%endif%}

            <!--{% if mensaje %}
                <div class="alert alert-success">
                    {{ mensaje }}
                </div>
            {% endif %}-->

            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <form method="post" action="/operacion/apertura" id="form-apertura-caja">   
                {% csrf_token %} 
                <label for="numero-caja">Caja:</label>
                <input type="text" id="numero-caja" name="numero-caja" value="{{numero_caja}}" disabled>
                <input type="hidden" name="numero-caja-hidden" value="{{ numero_caja }}">

                
                {% if caja.estado == 'abierta'%}
                    <label for="nombre-cajero">Cajero (Username):</label>
                    <input type="text" id="nombre-cajero" value="{{caja.cajero.first_name}} {{caja.cajero.last_name}} ({{caja.cajero.username}})" disabled>
                    <input type="hidden" id="cajero-hidden" name="cajero-hidden" value="{{caja.cajero.username}}">
                
                    <label for="fecha-hora">Fecha/Hora de Inicio:</label>
                    <input type="text" id="fecha-hora" value="{{caja.fecha_hora_inicio}}" disabled>
                    <label for="fecha-hora">Fecha/Hora de Cierre:</label>
                    <input type="text" id="fecha-hora" value="{{fecha}}" disabled>
                    <p>* La hora sera actualizada cuando se genere la transacción.</p>
                {%else%}
                    <label for="nombre-cajero">Cajero (Username):</label>
                    <select name="vendedor" required>
                      {% for vendedor in vendedores %}
                          <option value="{{ vendedor.username }}">{{vendedor.first_name}} {{vendedor.last_name}} ({{ vendedor.username }})</option>
                      {% endfor %}
                    </select>

                    <label for="fecha-hora">Fecha/Hora de Inicio:</label>
                    <input type="text" id="fecha-hora" value="{{fecha}}" disabled>
                    <p>* La hora sera actualizada cuando se genere la transacción.</p>
                {%endif%}
            
                
                {% if caja.estado == 'abierta'%}
                    <label for="apertura-caja">Valor de apertura de Caja:</label>
                    <input type="text" id="apertura-caja" value="{{caja.valor_apertura}}" disabled>
                    <label for="apertura-caja">Efectivo contado:</label>
                    <input type="number" id="efectivo" step="0.01" value="0.00">
                {%else%}
                    <label for="apertura-caja">Valor de apertura de Caja:</label>
                    <input type="number" id="apertura-caja" name="apertura_caja" step="0.01" value="0.00">
                {%endif%}
            
                <label for="observaciones">Observaciones:</label>
                {% if caja.estado == 'abierta'%}
                    <p>{{ caja.observaciones }}</p>
                {% endif %}
                <textarea id="observaciones" name="observaciones" placeholder="Ingrese observaciones"></textarea>
                
                <div class="btn-container">
                    {% if caja.estado == 'abierta'%}
                        <button type="button" class="btn-comprobar">Comprobar</button>
                        <button type="button" class="btn-cerrar" data-toggle="modal" data-target="#confirmModal" > Cerrar</button>
                        <!--<button type="button" class="btn-cerrar" data-toggle="modal" data-target="#confirmModal"> Cerrar</button>-->
                    {% else%}
                      {% if vendedores%}
                        <button type="button" class="btn-guardar" > Aperturar</button>
                      {%else%}
                        <p>Se debe ingresar vendedores en la BD.</p>
                      {%endif%}
                    {%endif%}
                    
                    
                    
                    <a class="btn-cancelar" href="/operacion">Cancelar</a>
                </div>
            </form>

            <!--modal para confirmar cerrar caja-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                  </div>
                  <div class="modal-body">
                    ¿Estás seguro de que deseas cerrar la caja?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary btn-confirmar" id="confirmarCerrar">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div id="modal-valores-recaudados" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h5>Valores Recaudados de "{{caja.numero_caja}}" por "{{caja.cajero}}"</h5>
                <div class="modal-grid">
                  <div class="modal-box">
                    <h5>VALORES EN EFECTIVO</h5>
                    <table>
                      <tr>
                        <td>Fondo de Caja</td>
                        <td><span id="valor-fondoCaja"></span></td>
                      </tr>
                      <tr>
                        <td>Ventas</td>
                        <td><span id="valor-efectivo"></span></td>
                      </tr>
                      <tr>
                        <td>Servicios</td>
                        <td><span id="valor-servicios"></span></td>
                      </tr>
                      <tr>
                        <td>Ingresos de caja</td>
                        <td><span id="valor-ingresos"></span></td>
                      </tr>
                      <tr>
                        <td>Egresos de caja</td>
                        <td><span id="valor-egresos"></span></td>
                      </tr>
                      
                      <tr>
                        <td><strong>TOTAL EFECTIVO</strong></td>
                        <td><strong><span id="valor-total"></span></strong></td>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-box">
                    <h5>CHEQUES/TRANSFERENCIAS</h5>
                    <table>
                      <tr>
                        <tr>
                          <td>&nbsp; Cheques por Ventas</td>
                          <td><span id="cheques-ventas"></span></td>
                        </tr>
                        <tr>
                          <td>&nbsp; Cheques por Servicios</td>
                          <td><span id="cheques-servicios"></span></td>
                        </tr>
                        <tr>
                          <td><strong>TOTAL CHEQUES</strong></td>
                          <td><strong><span id="valor-cheques"></span></strong></td>
                        </tr>
                      </tr>
                      <tr>
                        <tr>
                          <td>&nbsp; Transferencias por Ventas</td>
                          <td><span id="transferencias-ventas"></span></td>
                        </tr>
                        <tr>
                          <td>&nbsp; Transferencias por Servicios</td>
                          <td><span id="transferencias-servicios"></span></td>
                        </tr>
                        <tr>
                          <td><strong>TOTAL TRANSFERENCIAS</strong></td>
                          <td><strong><span id="total-transferencias"></span></strong></td>
                        </tr>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-box">
                    <h5>TARJETAS</h5>
                    <table>
                      <tr>
                        <tr>
                          <td>Por Ventas</td>
                          <td><span id="tarjetas-ventas"></span></td>
                        </tr>
                        <tr>
                          <td>Por Servicios</td>
                          <td><span id="tarjetas-servicios"></span></td>
                        </tr>
                        <td><strong>TOTAL TARJETAS</strong></td>
                        <td><strong><span id="valor-tarjetas"></span></strong></td>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-box">
                    <h5>ARQUEO TOTAL</h5>
                    <table>
                      <tr>
                        <td>Efectivo Contado</td>
                        <td><span id="valor-contado"></span></td>
                      </tr>
                      <tr>
                        <td>Sobrante en Caja</td>
                        <td><span id="valor-sobrante"></span></td>
                      </tr>
                      <tr>
                        <td>Faltante en Caja</td>
                        <td><span id="valor-faltante"></span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


            <script>
              document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('.btn-guardar').addEventListener('click', function () {
                    // Mostrar un cuadro de diálogo de confirmación
                    if (confirm('¿Estás seguro de que deseas aperturar la caja?')) {
                        // Enviar el formulario si el usuario confirma
                        document.getElementById('form-apertura-caja').submit();
                    }
                });
                document.querySelector('.btn-cerrar').addEventListener('click', function () {
                  // Muestra la modal
                  $('#confirmModal').modal('show');

                  
              });
      
              // Manejador de evento para el botón "Confirmar" en la modal
              document.querySelector('.btn-confirmar').addEventListener('click', function () {
                  // Envía el formulario
                  document.getElementById('form-apertura-caja').submit();
              });
            });
          

              
            
              // Cerrar el modal al hacer clic en la X
              document.querySelector('.close').addEventListener('click', function() {
                  document.getElementById('modal-valores-recaudados').style.display = 'none';
              });
              
              // Cerrar el modal al hacer clic fuera del contenido
              window.addEventListener('click', function(event) {
                  var modal = document.getElementById('modal-valores-recaudados');
                  if (event.target == modal) {
                  modal.style.display = 'none';
                  }
              });
            



              // Abrir el modal al hacer clic en el botón
            document.querySelector('.btn-comprobar').addEventListener('click', function() {
                var efectivo = document.getElementById('efectivo').value;
                var cajero = document.getElementById('cajero-hidden').value;
                
                // Obtener el token CSRF del cookie
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Busca el nombre del cookie
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                
                var csrftoken = getCookie('csrftoken');

                // Configurar la solicitud AJAX con jQuery
                $.ajax({
                    url: 'caja/comprobar', // Reemplaza con la URL del endpoint en tu backend
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': csrftoken  // Agrega el token CSRF al encabezado
                    },
                    data: JSON.stringify({ efectivo: efectivo, cajero: cajero }), // Convertir datos a formato JSON
                    success: function(response) {
                        // Aquí puedes manejar la respuesta del backend si es necesario
                        
                        // Actualizar valores en las tablas del modal
                        document.getElementById('valor-efectivo').textContent = '$ ' + response.totalVendido;
                        document.getElementById('valor-fondoCaja').textContent = '$ ' + response.fondoCaja;
                        document.getElementById('valor-servicios').textContent = '$ ' +response.totalServicios;
                        document.getElementById('valor-egresos').textContent = '$ ' +response.totalEgresos;
                        document.getElementById('valor-ingresos').textContent = '$ ' +response.totalIngresos;
                        document.getElementById('valor-total').textContent = '$ ' + response.totalEfectivo;

                        document.getElementById('cheques-ventas').textContent = '$ ' + response.chequesVentas;
                        document.getElementById('cheques-servicios').textContent = '$ ' + response.chequesServicios;
                        document.getElementById('valor-cheques').textContent = '$ ' + response.totalCheques;
                        document.getElementById('transferencias-ventas').textContent = '$ ' + response.transferenciasVentas;
                        document.getElementById('transferencias-servicios').textContent = '$ ' + response.transferenciasServicios;
                        document.getElementById('total-transferencias').textContent = '$ ' + response.totalTransferencias;

                        document.getElementById('tarjetas-servicios').textContent = '$ ' + response.tarjetasServicios;
                        document.getElementById('tarjetas-ventas').textContent = '$ ' + response.tarjetasVentas;
                        document.getElementById('valor-tarjetas').textContent = '$ ' + response.totalTarjetas;

                        document.getElementById('valor-contado').textContent = '$ ' + response.efectivoContado;
                        document.getElementById('valor-sobrante').textContent = '$ ' + response.sobrante;
                        document.getElementById('valor-faltante').textContent = '$ ' + response.faltante;



                        // Mostrar el modal
                        document.getElementById('modal-valores-recaudados').style.display = 'block';
                    },
                    error: function(xhr, status, error) {
                        // Manejar errores si es necesario
                        alert('Ocurrió un error al comprobar la caja. Intente nuevamente en unos minutos.');
                    }
                });
                
            });

            document.getElementById('confirmarCerrar').addEventListener('click', function () {
              var efectivo = document.getElementById('efectivo').value;
                var cajero = document.getElementById('cajero-hidden').value;
                var detalle = document.getElementById('observaciones').value;
                //var accion = 'cerrar';
                
                // Obtener el token CSRF del cookie
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Busca el nombre del cookie
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                
                var csrftoken = getCookie('csrftoken');

                // Configurar la solicitud AJAX con jQuery
                $.ajax({
                    url: 'caja/comprobar', // Reemplaza con la URL del endpoint en tu backend
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': csrftoken  // Agrega el token CSRF al encabezado
                    },
                    data: JSON.stringify({ efectivo: efectivo, cajero: cajero, detalle: detalle, accion:'cerrar' }), // Convertir datos a formato JSON
                    success: function(response) {
                        // Aquí puedes manejar la respuesta del backend si es necesario
                        
                        if (response && response.encoded_path) {
                          // Construir la URL para redirigir con el encoded_path
                          var encodedPath = encodeURIComponent(response.encoded_path);
                          var urlRedirect = '/operacion/cerrar_caja/generardescarga_pdf/' + encodedPath + '/';
              
                          // Redirigir a la nueva página con el encoded_path en la URL
                          window.location.href = urlRedirect;
                      } else {
                          console.error('No se recibió el encoded_path del servidor.');
                          // Manejar el caso donde no se recibió correctamente el encoded_path del servidor
                          // Por ejemplo, mostrar un mensaje de error al usuario
                          alert('Ocurrio un error al descargar el pdf');
                      }
                    },
                    error: function(xhr, status, error) {
                        // Manejar errores si es necesario
                        alert('Ocurrió un error al comprobar la caja. Intente nuevamente en unos minutos.');
                    }
                });
            });

            </script>
        </div>
    </div>
</div>

{% endblock %} 