{% extends "operacion.html" %}

{% block title %}PC Computers - Operacion Detalles producto{% endblock %}

{% block content %}
{% load static %}
<h5 class="title-detalle"><i class="fa-solid fa-list"></i> Detalles del producto</h5>

<div class="breadcrumb">
    <a href="/operacion">Panel operaciones</a>
    <span>›</span>
    <a href="/operacion/todosproductos">Todos productos</a>
    <span>›</span>
    <a href="/operacion/stock/nuevoproducto/detalle/idproducto={{producto.id}}/">Detalle del producto ({{producto.marca}} {{producto.modelo}})</a>
</div>

    {% if messages %}
          {% for message in messages %}
              <div class="alert alert-secondary" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}
    
    {% if producto.desactivado == "si"%}
        <div class="alert alert-danger" role="alert">
            Este producto se encuentra <b>desactivado </b>y no se muestra con los demás productos, por favor actívelo para poder visualizarlo en el Stand de productos!
        </div>
    {% endif %}

<div class="container">
    
  <!-- 📌 Detalles del Producto -->
  <div class="left">
      <div class="product-info">
          <h2 class="title-detalle"> {{ producto.marca.nombre }} {{ producto.modelo }} - 
            <a href="/operacion/stock/editarproducto/productoid={{producto.id}}" class="btn btn-outline-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i> Editar información
            </a>
            {% if producto.desactivado == "si"%}
                <button type="button" class="btn btn-primary btn-sm activar-btn" 
                    data-bs-toggle="modal" data-bs-target="#modalActivar" 
                    data-idproda="{{ producto.id }}">
                    <i class="fa-solid fa-eye"></i> Activar
                </button>
            {%else%}
                <button type="button" class="btn btn-outline-danger btn-sm desactivar-btn" 
                    data-bs-toggle="modal" data-bs-target="#modalDesactivar" 
                    data-idprod="{{ producto.id }}">
                    <i class="fa-solid fa-eye-slash"></i> Desactivar
                </button>
            {% endif %}
          </h2>
          <p><strong>Código artículo:</strong> {{ producto.id }}</p>
          <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
          <p><strong>Subcategoría:</strong> {{ producto.subcategoria.nombre }}</p>
          <p><strong>Marca:</strong> {{ producto.marca.nombre }}</p>
          <p><strong>Calidad:</strong> {{ producto.get_calidad_display }}</p>
          <p><strong>Precio:</strong> ${{ producto.precio }} &nbsp; <strong>Oferta:</strong> {%if producto.oferta == False%} NO {%else%} SI &nbsp; <strong>Precio oferta:</strong>{{producto.precio_oferta}}{%endif%}</p>
          <p><strong>Detalle:</strong> {{ producto.detalle }}</p>
          <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
      </div>
      
      <!-- 📌 Imagen Principal -->
      {% if producto.imagenes.all %}
          <img src="{{ producto.imagenes.first.imagen.url }}" alt="Imagen del producto">
      {% endif %}

      <!-- 📌 Imágenes secundarias -->
      <div>
          {% for img in producto.imagenes.all %}
              <img src="{{ img.imagen.url }}" alt="Imagen secundaria" style="width: 50px; height: 50px; margin: 5px; margin-bottom: 5px;">
          {% endfor %}
      </div>
      <a href="/producto/{{producto.id}}/imagenes/" class="btn btn-outline-success btn-sm">
        <i class="fa-solid fa-pen-to-square"></i> Editar fotos
    </a>
  </div>

  <!-- 📌 Agregar colores y stock -->
  <div class="right">
        <!-- 📌 Lista de colores -->
      <h2 class="title-detalle">Colores disponibles</h2>
      {% if not colores%}
        
        <h6>Aún no se han agregado colores.</h6>
        
      {% endif %}
      {% for color in colores %}
        {% if color.color %}
        
            <div class="color-box">
                <div style="background: {{ color.codigo_color }}"></div>
                <p><b>{{ color.color }}</b></p>
                <p>Cód. Referencial: {{ color.codigo_referencial }}</p>
                <p>Stock: <b> {{ color.stock }}</b></p>
                {% if color.imagen %}
                    <img src="{{ color.imagen.url }}" alt="Color" style="width: 40px; height: 40px;">
                {% else %}
                    <img src="{% static 'img/noimage.jpg' %}" alt="Color" style="width: 80px; height: 50px;">
                {% endif %}
                <button type="button" class="btn btn-success edit-btn"
                    data-bs-toggle="modal" data-bs-target="#editModal"
                    data-id="{{ color.id }}"
                    data-color="{{ color.color }}"
                    data-codigo="{{ color.codigo_referencial }}"
                    data-stock="{{ color.stock }}"
                    data-codigo_color="{{ color.codigo_color }}"
                    data-imagen="{% if color.imagen %}{{ color.imagen.url }}{% endif %}" title="Editar el color y stock del producto">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                {% if color.stock < 1%}
                    <button type="button" class="btn btn-danger delete-btn"
                        data-bs-toggle="modal" data-bs-target="#deleteModal"
                        data-id="{{ color.id }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-danger delete-btn"
                        title="El stock debe ser igual a 0 para poder eliminar el color" disabled>
                        <i class="fa-solid fa-trash"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
        
      {% endfor %}
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarColor">
        <i class="fa-solid fa-plus"></i> Agregar Nuevo Color
    </button>

      <!-- Modal -->
        <div class="modal fade" id="modalAgregarColor" tabindex="-1" aria-labelledby="modalAgregarColorLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAgregarColorLabel">Agregar Color y Stock</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Código Referencial</label>
                                <p>* Este código no es necesario pero si único, ayuda a buscar de manera rápida un producto en específico.</p> 
                                <input type="text" name="codigoReferencial" class="form-control" placeholder="Código referencial">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nombre del Color</label>
                                <input type="text" name="color" class="form-control" placeholder="Nombre del color" required>
                            </div>
                            <div class="mb-3">
                                <input type="color" name="codigo_color" class="form-control form-control-color" value="#000000">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Cantidad en Stock</label>
                                <input type="number" name="stock" class="form-control" placeholder="Cantidad en stock" required>
                            </div>
                            <div class="mb-3">
                                <input type="file" name="imagen" class="form-control" accept="image/*" >
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Agregar Color</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!-- Modal de Edición -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Color Stock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST" enctype="multipart/form-data" action="{% url 'editar_color' %}">
                    {% csrf_token %}
                    <input type="hidden" id="edit-id" name="id">
                    
                    <div class="mb-3">
                        <label for="edit-color" class="form-label">Color</label>
                        <input type="text" class="form-control" id="edit-color" name="color" required>
                    </div>

                    <div class="mb-3">
                        <label for="edit-codigo_color" class="form-label">Código de Color</label>
                        <input type="color" class="form-control" id="edit-codigo_color" name="codigo_color">
                    </div>
                    
                    <div class="mb-3">
                        <label for="edit-codigo" class="form-label">Código Referencial</label>
                        <p>* Este código no es necesario pero si único, ayuda a buscar de manera rápida un producto en específico.</p> 
                        <input type="text" class="form-control" id="edit-codigo" name="codigo_referencial">
                    </div>
                    
                    <div class="mb-3">
                        <label for="edit-stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="edit-stock" name="stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Actualizar la imagen actual</label>
                        <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
                        
                        <div id="imagen-container" style="margin-top: 10px;">
                            <img id="preview-imagen" src="" alt="Imagen Actual" style="width: 80px; height: 50px; display: none;">
                            <br>
                            <label for="eliminar_imagen" id="eliminar_imagen_label" style="display: none;">Eliminar la imagen actual</label>
                            <input type="checkbox" id="eliminar_imagen" name="eliminar_imagen" style="display: none;">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                
                ¿Estás seguro de que deseas eliminar el color y stock de este producto? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
                <form id="deleteForm" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" id="delete_producto_id"> <!-- Cambiado -->
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Confirmación de desactivacion del producto-->
<div class="modal fade" id="modalDesactivar" tabindex="-1" aria-labelledby="modalDesactivarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDesactivarLabel">
                    <i class="fa-solid fa-triangle-exclamation text-danger"></i> Confirmación
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {%if existe_stock%}
                    ⚠️ <strong>Este producto será desactivado</strong> y no se podrá visualizar en ninguna parte de la página.
                    ¿Estás seguro de que deseas continuar?
                {% else %}
                    No es posible desactivar el producto porque aun tiene stocks, el stock deberia ser igual a 0 para esactivarlo.
                {% endif %}
            </div>
            <div class="modal-footer">
                <form id="desactivarForm" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="desactivar_producto_id" name="producto_id">
                    {%if existe_stock%}
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-ban"></i> Desactivar
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-ban"></i> Cerrar
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación de activacion del producto-->
<div class="modal fade" id="modalActivar" tabindex="-1" aria-labelledby="modalActivarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDesactivarLabel">
                    <i class="fa-solid fa-triangle-exclamation text-danger"></i> Confirmación
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ⚠️ <strong>Este producto será activado</strong> y se podrá visualizar con el resto de productos, asegúrese de primero agregar correctamente toda su información.
                ¿Estás seguro de que deseas continuar?
            </div>
            <div class="modal-footer">
                <form id="activarForm" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="activar_producto_id" name="producto_id">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-ban"></i> Activar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".edit-btn").forEach(button => {
            button.addEventListener("click", function() {
                document.getElementById("edit-id").value = this.getAttribute("data-id");
                document.getElementById("edit-color").value = this.getAttribute("data-color");
                document.getElementById("edit-codigo").value = this.getAttribute("data-codigo");
                document.getElementById("edit-stock").value = this.getAttribute("data-stock");
                document.getElementById("edit-codigo_color").value = this.getAttribute("data-codigo_color");
                // Obtener la imagen
                let imagenUrl = this.getAttribute("data-imagen");
                let imagenPreview = document.getElementById("preview-imagen");
                let checkbox = document.getElementById("eliminar_imagen");
                let labelCheckbox = document.getElementById("eliminar_imagen_label");
                console.log("Editar color producto ID:");

                if (imagenUrl) {
                    imagenPreview.src = imagenUrl;
                    imagenPreview.style.display = "block"; // Mostrar imagen
                    checkbox.style.display = "inline-block"; // Mostrar checkbox
                    labelCheckbox.style.display = "inline-block"; // Mostrar etiqueta
                } else {
                    imagenPreview.style.display = "none"; // Ocultar imagen
                    checkbox.style.display = "none"; // Ocultar checkbox
                    labelCheckbox.style.display = "none"; // Ocultar etiqueta
                }
            });
        });


    var deleteModal = document.getElementById("deleteModal");
    var deleteForm = document.getElementById("deleteForm");

    // Detectar el botón de eliminar
    document.querySelectorAll(".delete-btn").forEach(function (button) {
        button.addEventListener("click", function () {
            var productId = this.getAttribute("data-id");
            console.log("Eliminar producto ID:", productId);
            document.getElementById("delete_producto_id").value = productId;
            deleteForm.action = "/operacion/stock/nuevoproducto/detalle/eliminar_colorproducto/" + productId + "/";  // URL de eliminación
        });
    });

    document.querySelectorAll(".desactivar-btn").forEach(function (button) {
        button.addEventListener("click", function () {
            var productId = this.getAttribute("data-idprod");
            console.log("Desactivar producto ID:", productId);

            var inputHidden = document.getElementById("desactivar_producto_id");
            var desactivarForm = document.getElementById("desactivarForm");

            if (!inputHidden || !desactivarForm) {
                console.error("Error: No se encontró el input o formulario de desactivación.");
                return;
            }

            inputHidden.value = productId;
            desactivarForm.action = "/operacion/stock/nuevoproducto/detalle/desactivar/" + productId + "/";
        });
    });

    document.querySelectorAll(".activar-btn").forEach(function (button) {
        button.addEventListener("click", function () {
            var productId = this.getAttribute("data-idproda");

            var inputHidden = document.getElementById("activar_producto_id");
            var activarForm = document.getElementById("activarForm");

            if (!inputHidden || !activarForm) {
                console.error("Error: No se encontró el input o formulario de activación.");
                return;
            }

            inputHidden.value = productId;
            activarForm.action = "/operacion/stock/nuevoproducto/detalle/activar/" + productId + "/";
        });
    });

});
</script>

{% endblock %} 