{% extends "paginaInicio.html" %}

{% block title %}PC Computers - Servicios{% endblock %}

{% block content %}
{% load static %}

<h6 class="title-contact"> En Pc Computers puedes encontrar
    <div class="social-links">
        <a href="https://www.facebook.com/PcComputersNet" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/pccomputers.ec/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@pccomputers.ec" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    </div>
</h6>

<div class="container-services">
    <div class="servicio-mantenimiento">
        <div class="info-mantenimiento">
            <h3><i class="fa-solid fa-screwdriver-wrench"></i> Mantenimiento de Equipos</h3>
            <span>Ofrecemos mantenimiento de equipos de cómputo para optimizar su rendimiento y prolongar su vida útil. Solucionamos problemas y prevenimos fallos para que tus dispositivos funcionen al máximo. Tú enfócate en lo importante, nosotros nos encargamos del resto.</span>
            <span class='texto-corto'>Ofrecemos mantenimiento de equipos de cómputo para optimizar su rendimiento y prolongar su vida útil.</span>
            <a href="/servicios/mantenimiento">Más información <i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="img-mantenimiento">
            <img src="{% static 'img/servicios/mantenimiento1.webp' %}">
            <img src="{% static 'img/servicios/mantenimiento2.webp' %}">
        </div>
    </div>
    <div class="servicio-desarrollo">
        <div class="img-desarrollo">
            <img src="{% static 'img/servicios/desarrollo2.webp' %}">
            <img src="{% static 'img/servicios/desarrollo3.webp' %}">
        </div>
        <div class="info-desarrollo">
            <h3> <i class="fa-solid fa-code"></i> Desarrollo de Aplicaciones Web</h3>
            <span>Desarrollamos aplicaciones web que convierten ideas en experiencias interactivas. Desde la planificación hasta la implementación, creamos soluciones funcionales e innovadoras. Haz que tu presencia en la web cuente con nuestra magia digital.</span>
            <span class="texto-corto">Desarrollamos aplicaciones web que convierten ideas en experiencias interactivas.</span>
            <a href="/codebyedhisson">Más información <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
    <div class="servicio-analisis">
        <div class="info-analisis">
            <h3><i class="fa-solid fa-magnifying-glass-chart"></i> Análisis de Datos</h3>
            <span>Analizamos datos para convertir números en información valiosa que impulse decisiones estratégicas. Detectamos patrones, identificamos tendencias y te brindamos una visión clara para potenciar tu éxito.</span>
            <span class='texto-corto'>Analizamos datos para convertir números en información valiosa que impulse decisiones estratégicas.</span>
            <a href="/servicios/analisis">Más información <i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="img-analisis">
            <img src="{% static 'img/servicios/analisis1.webp' %}">
            <img src="{% static 'img/servicios/analisis2.webp' %}">
        </div>
    </div>
    <div class="servicio-capacitaciones">
        <div class="img-capacitaciones">
            <img src="{% static 'img/servicios/capacitaciones.webp' %}">
            <img src="{% static 'img/servicios/capacitaciones1.webp' %}">
        </div>
        <div class="info-capacitaciones">
            <h3> <i class="fa-solid fa-chalkboard-user"></i> Cursos y Capacitaciones</h3>
            <span>Brindamos capacitaciones especializadas en una variedad de áreas, incluyendo Desarrollo y Diseño Web, Análisis de Datos, Gestión de Redes Sociales y otras disciplinas afines.</span>
            <span class='texto-corto'>Brindamos capacitaciones en Desarrollo Web, Análisis de Datos, Gestión de Redes Sociales y otras disciplinas afines.</span>
            <a href="/servicios/capacitaciones">Más información <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
</div>

<div class="motivational-phrase">
    <p>"Impulsamos tu crecimiento con tecnología, porque el futuro se construye hoy."</p>
  </div>
   


{% endblock %} 